/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define CSS variables from the color scheme */
:root {
    --primary-color: #336699; /* Primary color */
    --secondary-color: #FF9900; /* Secondary color */
    --text-color: #333333; /* Text color */
}

/* Styling headings */
h1, h2, h3 {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

/* Styling paragraph elements */
p {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

/* Remove underlines from social media links */
.social-links a {
    text-decoration: none;
}

/* Limiting entire width of the page */
body {
    max-width: 1200px;
    margin: 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.logo {
    max-width: 100px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
section {
    padding: 20px;
}

#history {
    background-color: #f4f4f4;
}

#adventures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    flex-basis: 19%;
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
}

.social-media {
    display: flex;
    justify-content: flex-end;
}

.social-media img {
    margin-left: 10px;
    max-width: 30px;
}